body, h1,h2,h3,h4,h5,h6 {
    font-family: "Montserrat", sans-serif
}
.w3-row-padding img {
    margin-bottom: 12px
}
/* Set the width of the sidebar to 120px */
.w3-sidebar {
    width: 120px;
    background: #222;
}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {
    margin-left: 120px
}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}

.container {
  display: inline-block;
  cursor: pointer;
}

/* Menu Icon */
.menuIcon {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
}

/* Menu Filter */
.filterContainer {
  overflow: hidden;
}

.white {
  background-image: url("icons/white.png");
}
.green {
  background-image: url("icons/green.png");
  
}
.red {
  background-image: url("icons/red.png");
}
.yellow {
  background-image: url("icons/yellow.png");
}
.blue {
  background-image: url("icons/blue.png");
}
.orange {
  background-image: url("icons/orange.png");
}

.filterDiv {
  float: left;
  color: #ffffff;
  width: 100px;
  line-height: 100px;
  text-align: center;
  margin: 2px;
  display: none;
}

.show {
  display: block;
}

/*  Modal Menu   */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #1F262E;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #1F262E;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 48px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
